AWTomation/src/wsdl/localhost_1970/RemoteService/RemoteControl.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://awtomation.opengi.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://awtomation.opengi.com/" name="RemoteControlService">
<types>
<xsd:schema>
<xsd:import namespace="http://awtomation.opengi.com/" schemaLocation="http://localhost:1970/RemoteService/RemoteControl?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="GetString">
<part name="parameters" element="tns:GetString"></part>
</message>
<message name="GetStringResponse">
<part name="parameters" element="tns:GetStringResponse"></part>
</message>
<message name="GetControls">
<part name="parameters" element="tns:GetControls"></part>
</message>
<message name="GetControlsResponse">
<part name="parameters" element="tns:GetControlsResponse"></part>
</message>
<message name="SetControl">
<part name="parameters" element="tns:SetControl"></part>
</message>
<message name="SetControlResponse">
<part name="parameters" element="tns:SetControlResponse"></part>
</message>
<message name="IllegalAccessException">
<part name="fault" element="tns:IllegalAccessException"></part>
</message>
<message name="GetControl">
<part name="parameters" element="tns:GetControl"></part>
</message>
<message name="GetControlResponse">
<part name="parameters" element="tns:GetControlResponse"></part>
</message>
<message name="ScreenShot">
<part name="parameters" element="tns:ScreenShot"></part>
</message>
<message name="ScreenShotResponse">
<part name="parameters" element="tns:ScreenShotResponse"></part>
</message>
<message name="AWTomationException">
<part name="fault" element="tns:AWTomationException"></part>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"></part>
</message>
<message name="ClickControl">
<part name="parameters" element="tns:ClickControl"></part>
</message>
<message name="ClickControlResponse">
<part name="parameters" element="tns:ClickControlResponse"></part>
</message>
<portType name="RemoteControlService">
<operation name="GetString">
<input wsam:Action="http://awtomation.opengi.com/RemoteControlService/GetStringRequest" message="tns:GetString"></input>
<output wsam:Action="http://awtomation.opengi.com/RemoteControlService/GetStringResponse" message="tns:GetStringResponse"></output>
</operation>
<operation name="GetControls">
<input wsam:Action="http://awtomation.opengi.com/RemoteControlService/GetControlsRequest" message="tns:GetControls"></input>
<output wsam:Action="http://awtomation.opengi.com/RemoteControlService/GetControlsResponse" message="tns:GetControlsResponse"></output>
</operation>
<operation name="SetControl">
<input wsam:Action="http://awtomation.opengi.com/RemoteControlService/SetControlRequest" message="tns:SetControl"></input>
<output wsam:Action="http://awtomation.opengi.com/RemoteControlService/SetControlResponse" message="tns:SetControlResponse"></output>
<fault message="tns:IllegalAccessException" name="IllegalAccessException" wsam:Action="http://awtomation.opengi.com/RemoteControlService/SetControl/Fault/IllegalAccessException"></fault>
</operation>
<operation name="GetControl">
<input wsam:Action="http://awtomation.opengi.com/RemoteControlService/GetControlRequest" message="tns:GetControl"></input>
<output wsam:Action="http://awtomation.opengi.com/RemoteControlService/GetControlResponse" message="tns:GetControlResponse"></output>
<fault message="tns:IllegalAccessException" name="IllegalAccessException" wsam:Action="http://awtomation.opengi.com/RemoteControlService/GetControl/Fault/IllegalAccessException"></fault>
</operation>
<operation name="ScreenShot">
<input wsam:Action="http://awtomation.opengi.com/RemoteControlService/ScreenShotRequest" message="tns:ScreenShot"></input>
<output wsam:Action="http://awtomation.opengi.com/RemoteControlService/ScreenShotResponse" message="tns:ScreenShotResponse"></output>
<fault message="tns:AWTomationException" name="AWTomationException" wsam:Action="http://awtomation.opengi.com/RemoteControlService/ScreenShot/Fault/AWTomationException"></fault>
<fault message="tns:IOException" name="IOException" wsam:Action="http://awtomation.opengi.com/RemoteControlService/ScreenShot/Fault/IOException"></fault>
</operation>
<operation name="ClickControl">
<input wsam:Action="http://awtomation.opengi.com/RemoteControlService/ClickControlRequest" message="tns:ClickControl"></input>
<output wsam:Action="http://awtomation.opengi.com/RemoteControlService/ClickControlResponse" message="tns:ClickControlResponse"></output>
<fault message="tns:IllegalAccessException" name="IllegalAccessException" wsam:Action="http://awtomation.opengi.com/RemoteControlService/ClickControl/Fault/IllegalAccessException"></fault>
</operation>
</portType>
<binding name="RemoteControlServicePortBinding" type="tns:RemoteControlService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="GetString">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="GetControls">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="SetControl">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalAccessException">
<soap:fault name="IllegalAccessException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="GetControl">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalAccessException">
<soap:fault name="IllegalAccessException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ScreenShot">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AWTomationException">
<soap:fault name="AWTomationException" use="literal"></soap:fault>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ClickControl">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalAccessException">
<soap:fault name="IllegalAccessException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="RemoteControlService">
<port name="RemoteControlServicePort" binding="tns:RemoteControlServicePortBinding">
<soap:address location="http://localhost:1970/RemoteService/RemoteControl"></soap:address>
</port>
</service>
</definitions>