Java Remote Controller/Java Remote Controller/Service References/ServiceReference1/RemoteControl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://awtomation.opengi.com/" targetNamespace="http://awtomation.opengi.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AWTomationException" type="tns:AWTomationException" />
  <xs:element name="ClickControl" type="tns:ClickControl" />
  <xs:element name="ClickControlResponse" type="tns:ClickControlResponse" />
  <xs:element name="GetControl" type="tns:GetControl" />
  <xs:element name="GetControlResponse" type="tns:GetControlResponse" />
  <xs:element name="GetControls" type="tns:GetControls" />
  <xs:element name="GetControlsResponse" type="tns:GetControlsResponse" />
  <xs:element name="GetString" type="tns:GetString" />
  <xs:element name="GetStringResponse" type="tns:GetStringResponse" />
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="IllegalAccessException" type="tns:IllegalAccessException" />
  <xs:element name="ScreenShot" type="tns:ScreenShot" />
  <xs:element name="ScreenShotResponse" type="tns:ScreenShotResponse" />
  <xs:element name="SetControl" type="tns:SetControl" />
  <xs:element name="SetControlResponse" type="tns:SetControlResponse" />
  <xs:complexType name="SetControl">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SetControlResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="IllegalAccessException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClickControl">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClickControlResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetString">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetStringResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetControls">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetControlsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetControl">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetControlResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ogiComponent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ogiComponent">
    <xs:sequence>
      <xs:element name="checked" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="text" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="values" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ScreenShot">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ScreenShotResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AWTomationException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>