Java Remote Controller/Java Remote Controller/Service References/ServiceReference1/RemoteControlService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://AWTomation.OpenGI.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="RemoteControlService" targetNamespace="http://AWTomation.OpenGI.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:1970/RemoteService/RemoteControl?xsd=1" namespace="http://AWTomation.OpenGI.com/" />
    </xsd:schema>
  </types>
  <message name="GetControls">
    <part name="parameters" element="tns:GetControls" />
  </message>
  <message name="GetControlsResponse">
    <part name="parameters" element="tns:GetControlsResponse" />
  </message>
  <message name="GetControl">
    <part name="parameters" element="tns:GetControl" />
  </message>
  <message name="GetControlResponse">
    <part name="parameters" element="tns:GetControlResponse" />
  </message>
  <message name="IllegalAccessException">
    <part name="fault" element="tns:IllegalAccessException" />
  </message>
  <message name="ClickControl">
    <part name="parameters" element="tns:ClickControl" />
  </message>
  <message name="ClickControlResponse">
    <part name="parameters" element="tns:ClickControlResponse" />
  </message>
  <message name="ScreenShot">
    <part name="parameters" element="tns:ScreenShot" />
  </message>
  <message name="ScreenShotResponse">
    <part name="parameters" element="tns:ScreenShotResponse" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="AWTomationException">
    <part name="fault" element="tns:AWTomationException" />
  </message>
  <message name="GetString">
    <part name="parameters" element="tns:GetString" />
  </message>
  <message name="GetStringResponse">
    <part name="parameters" element="tns:GetStringResponse" />
  </message>
  <message name="SetControl">
    <part name="parameters" element="tns:SetControl" />
  </message>
  <message name="SetControlResponse">
    <part name="parameters" element="tns:SetControlResponse" />
  </message>
  <portType name="RemoteControlService">
    <operation name="GetControls">
      <input wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/GetControlsRequest" message="tns:GetControls" />
      <output wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/GetControlsResponse" message="tns:GetControlsResponse" />
    </operation>
    <operation name="GetControl">
      <input wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/GetControlRequest" message="tns:GetControl" />
      <output wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/GetControlResponse" message="tns:GetControlResponse" />
      <fault wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/GetControl/Fault/IllegalAccessException" name="IllegalAccessException" message="tns:IllegalAccessException" />
    </operation>
    <operation name="ClickControl">
      <input wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/ClickControlRequest" message="tns:ClickControl" />
      <output wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/ClickControlResponse" message="tns:ClickControlResponse" />
      <fault wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/ClickControl/Fault/IllegalAccessException" name="IllegalAccessException" message="tns:IllegalAccessException" />
    </operation>
    <operation name="ScreenShot">
      <input wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/ScreenShotRequest" message="tns:ScreenShot" />
      <output wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/ScreenShotResponse" message="tns:ScreenShotResponse" />
      <fault wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/ScreenShot/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/ScreenShot/Fault/AWTomationException" name="AWTomationException" message="tns:AWTomationException" />
    </operation>
    <operation name="GetString">
      <input wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/GetStringRequest" message="tns:GetString" />
      <output wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/GetStringResponse" message="tns:GetStringResponse" />
    </operation>
    <operation name="SetControl">
      <input wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/SetControlRequest" message="tns:SetControl" />
      <output wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/SetControlResponse" message="tns:SetControlResponse" />
      <fault wsam:Action="http://AWTomation.OpenGI.com/RemoteControlService/SetControl/Fault/IllegalAccessException" name="IllegalAccessException" message="tns:IllegalAccessException" />
    </operation>
  </portType>
  <binding name="RemoteControlServicePortBinding" type="tns:RemoteControlService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetControls">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetControl">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IllegalAccessException">
        <soap:fault use="literal" name="IllegalAccessException" namespace="" />
      </fault>
    </operation>
    <operation name="ClickControl">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IllegalAccessException">
        <soap:fault use="literal" name="IllegalAccessException" namespace="" />
      </fault>
    </operation>
    <operation name="ScreenShot">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="AWTomationException">
        <soap:fault use="literal" name="AWTomationException" namespace="" />
      </fault>
    </operation>
    <operation name="GetString">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetControl">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IllegalAccessException">
        <soap:fault use="literal" name="IllegalAccessException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="RemoteControlService">
    <port name="RemoteControlServicePort" binding="tns:RemoteControlServicePortBinding">
      <soap:address location="http://localhost:1970/RemoteService/RemoteControl" />
    </port>
  </service>
</definitions>